---
import "../styles/global.css";
import type { ButtonItem } from "../Interface/site";

// Btn2Idx.astro
// 接收一个 ButtonItem 类型 数组
const { items } = Astro.props as { items: ButtonItem[] };
---

<div class="common-buttons animate-fade-in-up">
  {
    items.map((btn: any) => (
      <div
        class="btn"
        style={`--btn-bg: ${btn.bgColor}; --hover-bg: var(--primary-light-l2)`}
      >
        <a
          href={btn.href}
          aria-label={btn.label}
          style={`color: ${btn.itemColor}; `}
        >
          <span class="btn-icon" set:html={btn.iconSvg} />
          <p>{btn.label}</p>
        </a>
      </div>
    ))
  }
</div>

<style>
  /* 所有按钮相关样式都挪到这里，Astro 会自动 scoped */
  .common-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 45px;
    margin: 0 auto;
  }

  .btn {
    width: 120px;
    height: 120px;
    padding: 14px 20px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.25s ease;
    cursor: pointer;
    border: 1.5px solid transparent;
    box-shadow: 0 1px 1px rgba(126, 126, 126, 0);
    /* 使用 CSS 变量，初始值由内联样式提供 */
    background-color: var(--btn-bg);
  }

  .btn a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none; /* 去掉下划线 */
    color: inherit; /* 继承文字颜色 */
    gap: 10px;
    box-sizing: border-box;
    border-radius: 12px;
  }

  .btn:hover {
    transform: translateY(-1px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
    /* 悬停背景色 */
    background-color: var(--hover-bg);
  }

  .btn-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn-icon :global(svg) {
    width: 100%;
    height: 100%;
    display: block;
  }

  /* ---------- 手机端适配（宽度 ≤ 768px） ---------- */
  @media (max-width: 768px) {
    .common-buttons {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 45px;
      max-width: 100%;
      padding: 0 16px;
    }

    .btn {
      width: 120px;
      height: 120px;
      aspect-ratio: 1 / 1;
      box-sizing: border-box;
    }
  }
</style>
